* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

.bg-container {
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile-container {
  text-align: center;
  background-color: #cffafe;
  border-radius: 8px;
  padding: 18px;
}
